@tailwind base;
@tailwind components;
@tailwind utilities;


.slim-scroll::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 6px;
}

.slim-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

.slim-scroll::-webkit-scrollbar-thumb {
    background-color: #555; /* Thumb color */
    border-radius: 1px; /* Rounded corners */
}

/* Optional: Hide scrollbar when inactive */
.slim-scroll::-webkit-scrollbar-thumb:hover {
    background: #262626; /* Thumb color on hover */
}